html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#monsterImageCont{
    height: 100%;
    width: 50%;
    background: red;
    float: left;
}

#information{
    height: 100%;
    width: 50%;
    background: green;
    float: left;
}

#textInfo{
    height: 50%;
    width: 100%;
    background: black;
    float: top;
}

#buttons{
    height: 50%;
    width: 100%;
    background: pink;
    float: top;
}

#monsterImage{
    width: 100%;
    height: 100%;
    float: left;
}

#battleStats{
    height: 100%;
    width: 50%;
    background: black;
    float: left;
}

#commentary{
    height: 100%;
    width: 50%;
    background: black;
    color: green;
    float: left;
}

#monsterStats{
    height: 48%;
    width: 100%;
    background: red;
    float: top;
}

#playerStats{
    height: 48%;
    width: 100%;
    background: green;
    float: top;
}

.controlB{
    height: 100%;
    width: 31%;
    float:left;
    border: solid black 1px;
    border-radius: 20px;
}
