#map {
    height: 0%;
    width: 0%;
    float: left;
}

#pano{
    height: 100%;
    width: 50%;
    background: red;
    float: left;
}

#playerinfo{
    height: 100%;
    width: 50%;
    background: orange;
    float: left;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#textInfo{
    height: 50%;
    width: 100%;
    background: yellow;
    float: top;
    margin: 0;
    padding: 0;
}

#imgInfo{
    height: 50%;
    width: 100%;
    background: pink;
    float: top;
    margin: 0;
    padding: 0;
}
